<!--articleForm을 사용하면 수정이면 수정에 맞게 생성이면 생성에 맞게 이동 시켜준다.-->

<a th:href="@{/article/list}"> 목록으로</a>

<form th:object="${articleForm}" method="post">
    <div th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" style="color:red;"></div>
    제목 <input type="text" name="subject" th:field="*{subject}">
    <br>
    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red;"></div>
    내용 <textarea name="content" id="" cols="30" rows="10"
                 th:field="*{content}">

        </textarea>
    <button type="submit"> 게시글 작성 </button>
</form>